@media (max-width: 1200px) {
  /* header */
  header {
    padding: 30px 70px;
    gap: 90px;
  }

  nav ul {
    justify-content: space-between;
    gap: unset;
  }

  /* banner */
  #banner img {
    width: 100%;
    max-width: 400px;
  }

  #banner h1 {
    font-size: 2.6rem;
    text-wrap: nowrap;
  }

  /* sobre */
  #sobre div {
    gap: 70px;
  }

  #vantagens div {
    padding-top: unset;
  }

  /* artistas */
  .artist-profile h3 {
    padding-bottom: 20px;
  }

  .artist-profile img {
    padding: unset;
  }

  .artist-profile p {
    padding-right: unset;
  }
}

@media (max-width: 800px) {
  /* header */
  header {
    flex-direction: column;
    height: unset;
    align-items: center;
    gap: 20px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  /* banner */
  #banner h1 {
    display: none;
  }

  /* sobre */
  #sobre div {
    flex-direction: column;
    gap: 30px;
  }

  #sobre img {
    max-height: 250px;
  }

  /* galeria */
  #galeria div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  #galeria img {
    width: 100%;
    max-width: 380px;
  }

  /* artistas */
  .artist-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .artist-profile img {
    margin-bottom: 20px;
  }
}
